/*
 * Navbar
 */

.navbarBrand {
    color:orangered !important;
    font-size: 200% !important;
}

.navBar {
    border-radius: 0px !important;
}

/*
 * Language dropdown
 */

.languageOption {
    text-align: center !important;
}

/*
 * Login form card
 */

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

/*
 * 404 page
 */

body { background-color:#e8eaed;}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*
 * Other
 */

.table {
    margin-bottom: 0;
}

.ui-datatable .ui-datatable-thead>tr>th {
    font-weight:900
}

.ui-datatable table { table-layout: auto !important; }

body {
    font-family: "Lato";
    padding-bottom: 20px !important;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar-center
{
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
}

#flightsTable
{
    position: relative;
    margin-top: 5%;
}

.greyedOut{
    background-color:lightgrey !important;
    background-image:none !important;
}
