<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:form>
        <div class="404">
               <div class="error-template">
                   <h1>#{msgs['404_Header']}</h1>
                   <h2>#{msgs['404_Content']}</h2>
                   <div class="error-details">
                       #{msgs['404_Details']}
                   </div>
                   <div class="error-actions">
                       <h:commandLink styleClass="btn btn-primary btn-lg" value="#{msgs['404_Home']}" action="#{navigationBean.navigateToHome(true)}">
                           <i class="glyphicon glyphicon-home"/>
                       </h:commandLink>
                   </div>
               </div>
           </div>
        </h:form>
</ui:define>
</ui:composition>

</html>
