<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <f:metadata>
            <f:viewParam name="id" value="#{bookingController.flight}"
                         converter="#{flightConverter}"
                         converterMessage="Unknown product, please use a link from within the system."
            />
            <f:viewAction action="#{bookingController.onLoad}" />
        </f:metadata>

        <h:form rendered="#{not empty bookingController.flight}">
            <p:growl id="messages" showDetail="true" />
            <table class="table table-sm">
                <tr>
                    <th scope="row">#{msgs['Home_Departure']}</th>
                    <td>
                        <h:outputText value="#{bookingController.flight.departure.airportName}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Home_Destination']}</th>
                    <td>
                        <h:outputText value="#{bookingController.flight.destination.airportName}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_DepartureTime']}</th>

                    <td>
                        <h:outputText value="#{bookingController.flight.departureTime}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Home_Duration']}</th>

                    <td>
                        <h:outputText value="#{bookingController.flight.duration}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_CompanyName']}</th>

                    <td>
                        <h:outputText value="#{bookingController.flight.partner.companyName}"/>
                    </td>
                </tr>
            </table>

            <br/>
            <table class="table table-sm">
                <tr>
                    <th scope="col">#{msgs['Details_Class']}</th>
                    <th scope="col">#{msgs['Details_AmountOfSeats']}</th>
                    <th scope="col">#{msgs['Details_Price']}</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="row">
                        <h:outputText value="#{bookingController.currentFlightClass.getClassName()}"/>
                    </th>
                    <td>
                        <h:outputText value="#{bookingController.currentFlightClass.amountOfSeats}"/>
                    </td>
                    <td>
                        <h:outputText
                                value="#{bookingController.currentFlightClass.basePrice + bookingController.currentFlightClass.profitMargin}"/>
                    </td>
                </tr>
            </table>
        </h:form>

        <h:form>
            <p:outputPanel id="costPanel">
                <div class="form-group #{not component.findComponent('spinner').valid and facesContext.validationFailed ? 'has-error' : ''}">

                    <p:outputLabel for="spinner" value="Amount of seats"/>
                    &#160;
                    <p:spinner value="#{bookingController.booking.amountOfSeats}" id="spinner" min="1">
                    </p:spinner>
                    <br/>
                    <h:message for="spinner" errorClass="control-label has-error"/>
                </div>
            </p:outputPanel>

            <h:panelGroup id="panel">
                <div class="form-group #{not component.findComponent('paymentMethodRadio').valid and facesContext.validationFailed ? 'has-error' : ''}">

                    <p:selectOneRadio id="paymentMethodRadio" value="#{bookingController.paymentMethod}">
                        <p:ajax event="change" update="panel"/>
                        <f:selectItem itemValue="CreditCard" itemLabel="Credit card"/>
                        <f:selectItem itemValue="Endorsement" itemLabel="Endorsement"/>
                    </p:selectOneRadio>
                    <h:message for="paymentMethodRadio" errorClass="control-label has-error"/>
                </div>

                <h:panelGroup id="moreInfo" rendered="#{bookingController.paymentMethod eq 'CreditCard'}">
                    <p:outputLabel for="creditcardnumber" value="#{msgs['Booking_Number']}"/>
                    <p:inputText value="#{bookingController.creditCardNumber}" id="creditcardnumber"/>
                    &#160;
                    <p:outputLabel for="creditcardexpirationDate" value="#{msgs['Booking_ExpirationDate']}"/>
                    <p:calendar id="creditcardexpirationDate" value="#{bookingController.creditCardExpDate}"/>
                </h:panelGroup>
            </h:panelGroup>

            <br/>
            <h:panelGroup styleClass="pull-right">

                &#160;
            <h:commandButton styleClass="btn btn-primary" action="#{bookingController.pay}"
                             value="#{msgs['Booking_Next']}"/>
            </h:panelGroup>
        </h:form>

        <h:form>
        <h:commandButton styleClass="btn btn-primary" action="#{bookingController.goBackToIndex}"
                         value="#{msgs['Booking_Back']}"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>