<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xml:lang="en" lang="en">
<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:outputText value="#{msgs['Success_Message']}"/>
        <h:form>
            <p:growl id="messages" showDetail="true" />
        </h:form>
    </ui:define>
</ui:composition>
</html>