<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:form rendered="#{not empty bookingController.flight}">
            <p:growl id="messages" showDetail="true" />
            <h:panelGroup>
                <table class="table table-sm">
                    <tr>
                        <th scope="row">#{msgs['Home_Departure']}</th>
                        <td>
                            <h:outputText value="#{bookingController.flight.departure.airportName}"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#{msgs['Home_Destination']}</th>
                        <td>
                            <h:outputText value="#{bookingController.flight.destination.airportName}"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#{msgs['Details_DepartureTime']}</th>

                        <td>
                            <h:outputText value="#{bookingController.flight.departureTimeAsString}"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#{msgs['Home_Duration']}</th>

                        <td>
                            <h:outputText value="#{bookingController.flight.duration}"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">#{msgs['Details_CompanyName']}</th>

                        <td>
                            <h:outputText value="#{bookingController.flight.partner.companyName}"/>
                        </td>
                    </tr>
                </table>
            </h:panelGroup>
            <br/>
            <h:panelGroup>
                <table class="table table-sm">
                    <tr>
                        <th scope="col">#{msgs['Details_Class']}</th>
                        <th scope="col">#{msgs['Details_AmountOfSeatsChosen']}</th>
                        <th scope="col">#{msgs['Details_Discount']}</th>
                        <th scope="col">#{msgs['Details_TotalPrice']}</th>
                        <th scope="col">#{msgs['Booking_PaymentMethod']}</th>
                    </tr>
                    <tr>
                        <th scope="row"><h:outputText value="#{bookingController.booking.travelingClass}"/></th>
                        <td>
                            <h:outputText value="#{bookingController.booking.amountOfSeats}"/>
                        </td>
                        <td>
                            <h:outputText value="#{bookingController.discountPercentage}"/>%
                        </td>
                        <td>
                            <h:outputText value="#{bookingController.booking.totalPrice}"/>
                        </td>
                        <td>
                            <h:outputText value="#{bookingController.paymentMethod}"/>
                        </td>
                    </tr>
                </table>
            </h:panelGroup>
            <h:panelGroup styleClass="pull-right">
                <h:commandButton styleClass="btn btn-primary" action="#{bookingController.goBackToDetail}"
                                 value="#{msgs['Booking_Back']}"/>
                &#160;
                <h:commandButton styleClass="btn btn-primary" action="#{bookingController.confirmBooking}"
                                 value="#{msgs['Booking_Book']}"/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
</html>