<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xml:lang="en" lang="en">
<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <f:metadata>
            <f:viewParam name="id" value="#{flightController.flight}"
                         converter="#{flightConverter}"
                         converterMessage="Unknown product, please use a link from within the system."
            />
        </f:metadata>

        <h:form rendered="#{not empty flightController.flight}">
            <table class="table table-sm">
                <tr>
                    <th scope="row">#{msgs['Home_Departure']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.departure.airportName}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Home_Destination']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.destination.airportName}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_DepartureTime']}</th>

                    <td>
                        <h:outputText value="#{flightController.flight.departureTimeAsString}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Home_Duration']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.duration}"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_CompanyName']}</th>

                    <td>
                        <h:outputText value="#{flightController.flight.partner.companyName}"/>
                    </td>
                </tr>
            </table>
            <hr/>
            <table class="table table-sm">
                <tr>
                    <th scope="col"> #{msgs['Details_Class']}</th>
                    <th scope="col">#{msgs['Details_AmountOfSeats']}</th>
                    <th scope="col">#{msgs['Details_Price']}</th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_FirstClassSeats']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.firstClass.amountOfSeats}"/>
                    </td>
                    <td>
                        <h:outputText
                                value="#{flightController.flight.firstClass.basePrice + flightController.flight.firstClass.profitMargin}"/>
                    </td>
                    <td>
                        <h:form>
                            <p:button outcome="booking" icon="ui-icon-cart">
                                <f:param name="flightId" value="#{flightController.flight.id}"/>
                                <f:param name="flightClass" value="firstClass"/>
                            </p:button>
                        </h:form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_BusinessClassSeats']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.businessClass.amountOfSeats}"/>
                    </td>
                    <td>
                        <h:outputText
                                value="#{flightController.flight.businessClass.basePrice + flightController.flight.businessClass.profitMargin}  "/>
                    </td>
                    <td>
                        <h:form>
                            <p:button outcome="booking" icon="ui-icon-cart">
                                <f:param name="flightId" value="#{flightController.flight.id}"/>
                                <f:param name="flightClass" value="businessClass"/>
                            </p:button>
                        </h:form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">#{msgs['Details_EconomyClassSeats']}</th>
                    <td>
                        <h:outputText value="#{flightController.flight.economyClass.amountOfSeats}"/>
                    </td>
                    <td>
                        <h:outputText
                                value="#{flightController.flight.economyClass.basePrice + flightController.flight.economyClass.profitMargin}"/>
                    </td>
                    <td>
                        <h:form rendered="#{flightController.flight.economyClass.amountOfSeats > 0}">
                            <p:button outcome="booking" icon="ui-icon-cart">
                                <f:param name="flightId" value="#{flightController.flight.id}"/>
                                <f:param name="flightClass" value="economyClass"/>
                            </p:button>
                        </h:form>
                    </td>
                </tr>
            </table>
        </h:form>

    </ui:define>
</ui:composition>
</html>