<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:form>
        <div class="col-xs-12 col-md-3 col-md-push-9 smallmargfix">
            <b:button onclick="$('#addFlightModal').modal('show')" value="#{msgs['Add_Flight']}" styleClass="btn btn-block btn-lg btn-default"/>
        </div>
        </h:form>
        <div id="flightPanel" class="col-xs-12 col-md-9 col-md-pull-3">
        <div class="panel panel-default">
            <h:form id="flightsTableForm">
                <div class="panel-body">
                    <div class="form-group">
                        <p:dataTable id="flightsTable" styleClass="table table-hover" value="#{flightManagementController.flightList}" var="flight" rows="5"
                                     paginator="true"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="#{msgs['NO_FLIGHTS_FOUND']}"
                                     sortBy="#{flight.departureTime}"
                                     reflow="true" rowStyleClass="#{!flight.enabled ? 'greyedOut' : ''}">
                            <f:facet name="header">
                                #{msgs['Home_FlightsFound']}
                            </f:facet>
                            <p:ajax event="sort" skipChildren="false" />
                            <p:column headerText="#{msgs['Home_Departure']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                <h:outputText value="#{flight.departure}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_Destination']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                <h:outputText value="#{flight.destination}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_DepartureTime']}" styleClass="text-center" sortBy="#{flight.departureTime}">
                                <h:outputText value="#{flight.getDepartureTimeAsString()}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_Duration']}" styleClass="text-center" sortBy="#{flight.duration}">
                                <h:outputText value="#{flight.duration}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Price']} #{msgs['Details_FirstClassSeats']}" styleClass="text-center" sortBy="#{flight.firstClass.basePrice}">
                                <h:outputText value="€ #{flight.firstClass.basePrice}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Price']} #{msgs['Details_BusinessClassSeats']}" styleClass="text-center" sortBy="#{flight.businessClass.basePrice}">
                                <h:outputText value="€ #{flight.businessClass.basePrice}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Price']} #{msgs['Details_EconomyClassSeats']}" styleClass="text-center" sortBy="#{flight.economyClass.basePrice}">
                                <h:outputText value="€ #{flight.economyClass.basePrice}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Actions']}">
                                <p:button outcome="flightDetail" icon="ui-icon-info" rendered="#{flight.enabled}" title="#{msgs['Details_Flight']}">
                                    <f:param name="flightId" value="#{flight.id}" />
                                </p:button>
                                <p:commandButton action="#{flightManagementController.disableFlight(flight)}" icon="ui-icon-trash" rendered="#{flight.enabled}" update=":flightsTableForm:flightsTable" title="#{msgs['Disable_Flight']}"/>
                                <p:commandButton onclick="$('#EditDiscountModal').modal('show')" icon="ui-icon-circle-minus" rendered="#{flight.enabled}" action="#{flightManagementController.setSelectedFlight(flight)}" title="#{msgs['Edit_Discount']}" update=":discountsTableForm:discountsTable"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
            <h:form enctype="multipart/form-data">
                <p:growl id="messages" showDetail="true" />
                <p:fileUpload value="#{flightManagementController.file}" mode="simple" skinSimple="true"/>

                <p:commandButton value="Submit" ajax="false" actionListener="#{flightManagementController.upload}" />
            </h:form>
            </div>
        </div>

        <b:modal id="addFlightModal" title="#{msgs['Add_Flight']}" styleClass="col-xs-12 modal fade" backdrop="true">

            <h:form>
                <h:panelGroup id="departureLocationGroup">
                    <div class="form-group #{not component.findComponent('departure').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:selectOneMenu id="departure" value="#{flightManagementController.flightToSave.departure}" ajax="true" process="@this" update="@next @next:@next" label="#{msgs['Home_Departure']}">
                            <f:converter converterId="entityConverter" />
                            <f:selectItem itemLabel="#{msgs['Select_Option']}" />
                            <f:selectItems value="#{flightManagementController.locationList}" var="location"
                                           itemValue="#{location}" itemLabel="#{location}" />
                        </b:selectOneMenu>
                        <h:message for="departure" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="destinationLocationGroup">
                    <div class="form-group #{not component.findComponent('destination').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:selectOneMenu id="destination" value="#{flightManagementController.flightToSave.destination}" ajax="true" process="@this" update="@next @next:@next" label="#{msgs['Home_Destination']}">
                            <f:converter converterId="entityConverter" />
                            <f:selectItem itemLabel="#{msgs['Select_Option']}" />
                            <f:selectItems value="#{flightManagementController.locationList}" var="location"
                                           itemValue="#{location}" itemLabel="#{location}" />
                        </b:selectOneMenu>
                        <h:message for="destination" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="departureTimeGroup">
                    <div class="form-group #{not component.findComponent('departureTime').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:dateTimePicker id="departureTime" label="#{msgs['Home_DepartureTime']} *"
                                          value="#{flightManagementController.flightToSave.departureTimeAsDate}"
                                          allow-input-toggle="#{dateTimeBean.allowInputToggle}"
                                          icon-position="#{dateTimeBean.iconPosition}"
                                          mode="#{dateTimeBean.mode}"
                                          side-by-side="true"
                                          show-date="#{dateTimeBean.showDate}"
                                          show-icon="#{dateTimeBean.showIcon}"
                                          use-current="#{dateTimeBean.useCurrent}"
                        />
                        <h:message for="departureTime" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="durationGroup">
                    <div class="form-group #{not component.findComponent('duration').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="duration" label="#{msgs['Home_Duration']}" value="#{flightManagementController.flightToSave.durationTimeAsString}" mask="99:99"/>
                        <h:message for="duration" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <hr/>

                <h3>#{msgs["Details_FirstClassSeats"]}</h3>

                <h:panelGroup id="firstClassGroup">
                    <div class="form-group #{not component.findComponent('firstClassBasePrice').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="firstClassBasePrice" value="#{flightManagementController.flightToSave.firstClass.basePrice}" size="10" label="#{msgs['Details_Price']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="firstClassBasePrice" errorClass="control-label has-error"/>
                    </div>

                    <div class="form-group #{not component.findComponent('firstClassAmountOfSeats').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="firstClassAmountOfSeats">#{msgs['Max_Amount_Of_Seats']} *</h:outputLabel> <br />
                        <p:spinner id="firstClassAmountOfSeats" value="#{flightManagementController.flightToSave.firstClass.maxAmountOFSeats}"/> <br />
                        <h:message for="firstClassAmountOfSeats" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h3>#{msgs["Details_BusinessClassSeats"]}</h3>

                <h:panelGroup id="businessClassGroup">
                    <div class="form-group #{not component.findComponent('businessClassBasePrice').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="businessClassBasePrice" value="#{flightManagementController.flightToSave.businessClass.basePrice}" size="10" label="#{msgs['Details_Price']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="businessClassBasePrice" errorClass="control-label has-error"/>
                    </div>

                    <div class="form-group #{not component.findComponent('businessClassAmountOfSeats').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="businessClassAmountOfSeats">#{msgs['Max_Amount_Of_Seats']} *</h:outputLabel> <br />
                        <p:spinner id="businessClassAmountOfSeats" value="#{flightManagementController.flightToSave.businessClass.maxAmountOFSeats}"/> <br />
                        <h:message for="businessClassAmountOfSeats" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h3>#{msgs["Details_EconomyClassSeats"]}</h3>

                <h:panelGroup id="economyClassGroup">
                    <div class="form-group #{not component.findComponent('economyClassBasePrice').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="economyClassBasePrice" value="#{flightManagementController.flightToSave.economyClass.basePrice}" size="10" label="#{msgs['Details_Price']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="economyClassBasePrice" errorClass="control-label has-error"/>
                    </div>

                    <div class="form-group #{not component.findComponent('economyClassAmountOfSeats').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="economyClassAmountOfSeats">#{msgs['Max_Amount_Of_Seats']} *</h:outputLabel> <br />
                        <p:spinner id="economyClassAmountOfSeats" value="#{flightManagementController.flightToSave.economyClass.maxAmountOFSeats}"/> <br />
                        <h:message for="economyClassAmountOfSeats" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>
                <hr/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                styleClass="btn btn-primary"
                                largeScreen="half"
                                update="@form"
                                dismiss="modal"
                                value="#{msgs['Save']}"
                                action="#{flightManagementController.saveNewFlight()}"
                                oncomplete="if(!validationFailed) { $('#addFlightModal').modal('hide') } "/>
                        <b:button  value="Cancel"
                                  dismiss="modal" onclick="return false;"/>

                    </b:column>
                </b:row>

                <b:fetchBeanInfos />
            </h:form>
        </b:modal>

        <b:modal id="EditDiscountModal" title="#{msgs['Edit_Discount']}" styleClass="col-xs-12 modal fade" backdrop="true">
            <h:form id="discountsTableForm">
            <p:dataTable id="discountsTable" styleClass="table table-hover" value="#{flightManagementController.selectedFlight.discountList}" var="discount" rows="3"
                         paginator="true"
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         emptyMessage="#{msgs['NO_DISCOUNTS_FOUND']}"
                         sortBy="#{discount.percentage}"
                         reflow="true">
                <f:facet name="header">
                    <p:commandButton onclick="$('#AddDiscountModal').modal('show')" icon="ui-icon-plus" value="#{msgs['Add_Discount']}"/>
                </f:facet>
                <p:ajax event="sort" skipChildren="false" />
                <p:column headerText="#{msgs['Discount_Percentage']}" styleClass="text-center" sortBy="#{discount.percentage}">
                    <h:outputText value="#{discount.percentage}%" styleClass="text-center"/>
                </p:column>
                <p:column headerText="#{msgs['Amount_Of_Seats']}" styleClass="text-center" sortBy="#{discount.amountOfSeats}">
                    <h:outputText value="#{discount.amountOfSeats}" styleClass="text-center"/>
                </p:column>
            </p:dataTable>
            </h:form>
        </b:modal>

        <b:modal id="AddDiscountModal" title="#{msgs['Add_Discount']}" styleClass="col-xs-12 modal fade" backdrop="true">
            <h:form>
                <h:panelGroup id="discountAmountOfSeatsGroup">
                    <div class="form-group #{not component.findComponent('discountAmountOfSeats').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="discountAmountOfSeats">#{msgs['Amount_Of_Seats']} *</h:outputLabel> <br />
                        <p:spinner id="discountAmountOfSeats" value="#{flightManagementController.discountToSave.amountOfSeats}"/> <br />
                        <h:message for="discountAmountOfSeats" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="discountPercentageGroup">
                    <div class="form-group #{not component.findComponent('discountPercentage').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="discountPercentage">#{msgs['Discount_Percentage']} *</h:outputLabel> <br />
                        <p:spinner id="discountPercentage" value="#{flightManagementController.discountToSave.percentage}"/> <br />
                        <h:message for="discountPercentage" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <hr/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                styleClass="btn btn-primary"
                                largeScreen="half"
                                update=":discountsTableForm:discountsTable"
                                value="#{msgs['Save']}"
                                action="#{flightManagementController.saveNewDiscount()}"
                                oncomplete="if(!validationFailed) { $('#AddDiscountModal').modal('hide') } "/>
                        <b:button  value="Cancel"
                                   dismiss="modal" onclick="return false;"/>
                    </b:column>
                </b:row>
            </h:form>
        </b:modal>
    </ui:define>
</ui:composition>

</html>