<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:form>
        <div class="col-xs-12 col-md-3 col-md-push-9 smallmargfix">
        </div>
        </h:form>
        <div id="flightPanel" class="col-xs-12 col-md-9 col-md-pull-3">
        <div class="panel panel-default">
            <h:form id="flightsTableForm">
                <div class="panel-body">
                    <div class="form-group">
                        <p:dataTable id="flightsTable" styleClass="table table-hover" value="#{fullFlightManagementController.flightList}" var="flight" rows="5"
                                     paginator="true"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="#{msgs['NO_FLIGHTS_FOUND']}"
                                     sortBy="#{flight.departureTime}"
                                     reflow="true" rowStyleClass="#{!flight.enabled ? 'greyedOut' : ''}">
                            <f:facet name="header">
                                #{msgs['Home_FlightsFound']}
                            </f:facet>
                            <p:ajax event="sort" skipChildren="false" />
                            <p:column headerText="#{msgs['Home_Departure']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                <h:outputText value="#{flight.departure}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_Destination']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                <h:outputText value="#{flight.destination}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_DepartureTime']}" styleClass="text-center" sortBy="#{flight.departureTime}">
                                <h:outputText value="#{flight.getDepartureTimeAsString()}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Home_Duration']}" styleClass="text-center" sortBy="#{flight.duration}">
                                <h:outputText value="#{flight.duration}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Profit_Margin']} #{msgs['Details_FirstClassSeats']}" styleClass="text-center" sortBy="#{flight.firstClass.profitMargin}">
                                <h:outputText value="€ #{flight.firstClass.profitMargin}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Profit_Margin']} #{msgs['Details_BusinessClassSeats']}" styleClass="text-center" sortBy="#{flight.businessClass.profitMargin}">
                                <h:outputText value="€ #{flight.businessClass.profitMargin}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Details_Profit_Margin']} #{msgs['Details_EconomyClassSeats']}" styleClass="text-center" sortBy="#{flight.economyClass.profitMargin}">
                                <h:outputText value="€ #{flight.economyClass.profitMargin}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Actions']}">
                                <p:button outcome="flightDetail" icon="ui-icon-info" rendered="#{flight.enabled}" title="#{msgs['Details_Flight']}">
                                    <f:param name="flightId" value="#{flight.id}" />
                                </p:button>
                                <p:commandButton onclick="$('#editProfitModal').modal('show')" icon="ui-icon-gear" rendered="#{flight.enabled}" action="#{fullFlightManagementController.setSelectedFlight(flight)}" title="#{msgs['Edit_ProfitMargin']}" update=":profitMarginForm"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
            <br/>

            </div>
        </div>

        <b:modal id="editProfitModal" title="#{msgs['Edit_ProfitMargin']}" styleClass="col-xs-12 modal fade" backdrop="true">

            <h:form id="profitMarginForm">
                <h:panelGroup id="firstClassProfitMarginGroup">
                    <div class="form-group #{not component.findComponent('firstClassProfitMargin').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="firstClassProfitMargin" value="#{fullFlightManagementController.selectedFlight.firstClass.profitMargin}" size="10" label="#{msgs['Details_FirstClassSeats']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="firstClassProfitMargin" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup id="businessClassProfitMarginGroup">
                    <div class="form-group #{not component.findComponent('businessClassProfitMargin').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="businessClassProfitMargin" value="#{fullFlightManagementController.selectedFlight.businessClass.profitMargin}" size="10" label="#{msgs['Details_BusinessClassSeats']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="businessClassProfitMargin" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>
                <h:panelGroup id="economyClassProfitMarginGroup">
                    <div class="form-group #{not component.findComponent('economyClassProfitMargin').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="economyClassProfitMargin" value="#{fullFlightManagementController.selectedFlight.economyClass.profitMargin}" size="10" label="#{msgs['Details_EconomyClassSeats']}">
                            <f:converter converterId="javax.faces.BigDecimal" />
                        </b:inputText>
                        <h:message for="economyClassProfitMargin" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>
                <hr/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                styleClass="btn btn-primary"
                                largeScreen="half"
                                update=":flightsTableForm:flightsTable"
                                dismiss="modal"
                                value="#{msgs['Save']}"
                                action="#{fullFlightManagementController.saveFlight()}"
                                oncomplete="if(!validationFailed) { $('#editProfitModal').modal('hide') } "/>
                        <b:button  value="Cancel"
                                   dismiss="modal" onclick="return false;"/>

                    </b:column>
                </b:row>

                <b:fetchBeanInfos />
            </h:form>
        </b:modal>


    </ui:define>
</ui:composition>

</html>