<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui"
>

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <div class="searchField">
            <h:form class="navbar-form navbar-center" id="searchForm">
                <p:growl id="messages" showDetail="true" />
                <div id="departureGroup" class="input-group">
                    <div class="form-group #{not component.findComponent('departure').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel value="#{msgs['Home_Departure']} " for="departure"/>
                        <p:autoComplete id="departure" value="#{homeController.departure}"
                                        completeMethod="#{homeController.completeLocation}"
                                        var="dep" itemLabel="#{dep.airportName}" itemValue="#{dep}"
                                        converter="entityConverter">
                            <p:column style="width:30%">
                                <h:outputText value="#{dep.airportCode}"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{dep.airportName}"/>
                            </p:column>
                        </p:autoComplete> <br />
                        <h:message for="departure" errorClass="control-label has-error"/>
                    </div>
                </div>

                <div class="input-group" id="destinationGroup">
                    <div class="form-group #{not component.findComponent('destination').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel value="#{msgs['Home_Destination']} " for="destination"/>
                        <p:autoComplete id="destination" value="#{homeController.destination}"
                                        completeMethod="#{homeController.completeLocation}"
                                        var="dest" itemLabel="#{dest.airportName}" itemValue="#{dest}"
                                        converter="entityConverter">
                            <p:column style="width:30%">
                                <h:outputText value="#{dest.airportCode}"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{dest.airportName}"/>
                            </p:column>
                        </p:autoComplete> <br />
                        <h:message for="destination" errorClass="control-label has-error"/>
                    </div>
                </div>

                <div id="dateGroup" class="input-group">
                    <div class="form-group #{not component.findComponent('departureDate').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="departureDate" value="#{msgs['Home_Time']} "/>
                        <p:calendar id="departureDate" value="#{homeController.departureDate}" autocomplete="off" /> <br />
                        <h:message for="departureDate" errorClass="control-label has-error"/>
                    </div>
                </div>

                <div class="input-group">
                    <p:commandButton value="#{msgs['Home_FindFlight']}" id="nonAjax" ajax="false"
                                     action="#{homeController.search()}"/>
                </div>
            </h:form>
        </div>
        <hr />
        <h:panelGroup class="flightsTablePanel" rendered="#{not empty homeController.foundFlights}">
            <div class="panel panel-default">
                <h:form id="flightsTableForm">
                    <div class="panel-body">
                        <div class="form-group">
                            <p:dataTable id="flightsTable" styleClass="table table-hover" value="#{homeController.foundFlights}" var="flight" rows="10"
                                         paginator="true"
                                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         emptyMessage="#{msgs['NO_FLIGHTS_FOUND']}"
                                         sortBy="#{flight.departureTime}">
                                <f:facet name="header">
                                    #{msgs['Home_FlightsFound']}
                                </f:facet>
                                <p:ajax event="sort" skipChildren="false" />
                                <p:column headerText="#{msgs['Home_Departure']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                    <h:outputText value="#{flight.departure}" styleClass="text-center"/>
                                </p:column>
                                <p:column headerText="#{msgs['Home_Destination']}" styleClass="text-center" sortBy="#{flight.destination.airportName}">
                                    <h:outputText value="#{flight.destination}" styleClass="text-center"/>
                                </p:column>
                                <p:column headerText="#{msgs['Home_DepartureTime']}" styleClass="text-center" sortBy="#{flight.departureTime}">
                                    <h:outputText value="#{flight.getDepartureTimeAsString()}" styleClass="text-center"/>
                                </p:column>
                                <p:column headerText="#{msgs['Home_Duration']}" styleClass="text-center" sortBy="#{flight.duration}">
                                    <h:outputText value="#{flight.duration}" styleClass="text-center"/>
                                </p:column>
                                <p:column>
                                    <p:button outcome="flightDetail" icon="ui-icon-info" rendered="#{flight.enabled}" title="#{msgs['Details_Flight']}">
                                        <f:param name="flightId" value="#{flight.id}" />
                                    </p:button>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </h:form>
            </div>
        </h:panelGroup>




        <!--<h:panelGroup class="flightsTablePanel" rendered="#{not empty homeController.foundFlights}">
            <p:dataTable id="flightsTable" value="#{homeController.foundFlights}" var="flight">
                <f:facet name="header">
                    #{msgs['Home_FlightsFound']}
                </f:facet>
                <p:column headerText="#{msgs['Home_Destination']}">
                    <h:outputText value="#{flight.destination.airportName}"/>
                </p:column>
                <p:column headerText="#{msgs['Home_Departure']}">
                    <h:outputText value="#{flight.departure.airportName}"/>
                </p:column>
                <p:column headerText="#{msgs['Home_DepartureTime']}">
                    <h:outputText value="#{flight.departureTime}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{msgs['Home_Duration']}">
                    <h:outputText value="#{flight.duration}"/>
                </p:column>
                <p:column headerText="#{msgs['Home_MoreInfo']}">
                    <p:button styleClass="btn btn-primary" outcome="flightDetail" icon="ui-icon-circle-arrow-e">
                        <f:param name="flightId" value="#{flight.id}"/>
                    </p:button>
                </p:column>
            </p:dataTable>
        </h:panelGroup>-->
    </ui:define>
</ui:composition>

</html>