<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <h:form>
        <div class="col-xs-12 col-md-3 col-md-push-9 smallmargfix">
            <b:button onclick="$('#addLocationModal').modal('show')" value="#{msgs['Add_Location']}" styleClass="btn btn-block btn-lg btn-default"/>
        </div>
        </h:form>
        <div id="flightPanel" class="col-xs-12 col-md-9 col-md-pull-3">
        <div class="panel panel-default">
            <h:form id="locationsTableForm">
                <div class="panel-body">
                    <div class="form-group">
                        <p:dataTable id="locationsTable" styleClass="table table-hover" value="#{locationManagementController.locationList}" var="location" rows="5"
                                     paginator="true"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     emptyMessage="#{msgs['NO_LOCATIONS_FOUND']}"
                                     sortBy="#{location.airportName}"
                                     reflow="true" rowStyleClass="#{!location.enabled ? 'greyedOut' : ''}">
                            <f:facet name="header">
                                #{msgs['Home_LocationsFound']}
                            </f:facet>
                            <p:ajax event="sort" skipChildren="false" />
                            <p:column headerText="#{msgs['Location_AirportName']}" styleClass="text-center" sortBy="#{location.airportName}">
                                <h:outputText value="#{location.airportName}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Location_AirportCode']}" styleClass="text-center" sortBy="#{location.airportCode}">
                                <h:outputText value="#{location.airportName}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Location_CountryName']}" styleClass="text-center" sortBy="#{location.country.name}">
                                <h:outputText value="#{location.country.name}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Location_CountryRegion']}" styleClass="text-center" sortBy="#{location.country.globalRegion}">
                                <h:outputText value="#{location.country.globalRegion}" styleClass="text-center"/>
                            </p:column>
                            <p:column headerText="#{msgs['Actions']}">
                                <p:commandButton action="#{locationManagementController.disableLocation(location)}" icon="ui-icon-trash" rendered="#{location.enabled}" update=":locationsTableForm:locationsTable" title="#{msgs['Disable_Location']}"/>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:form>
            </div>
        </div>

        <b:modal id="addLocationModal" title="#{msgs['Add_Location']}" styleClass="col-xs-12 modal fade" backdrop="true">
            <h:form>

                <h:panelGroup id="locationAirportNameGroup">
                    <div class="form-group #{not component.findComponent('locationAirportName').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="locationAirportName" value="#{locationManagementController.locationToSave.airportName}" styleClass="form-control" label="#{msgs['Location_AirportName']}"/>
                        <h:message for="locationAirportName" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="locationAirportCodeGroup">
                    <div class="form-group #{not component.findComponent('locationAirportCode').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:inputText id="locationAirportCode" value="#{locationManagementController.locationToSave.airportCode}" styleClass="form-control" label="#{msgs['Location_AirportCode']}"/>
                        <h:message for="locationAirportCode" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="locationCountryGroup">
                    <div class="form-group #{not component.findComponent('country').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <b:selectOneMenu id="country" value="#{locationManagementController.locationToSave.country}" ajax="true" process="@this" update="@next @next:@next" label="#{msgs['Location_CountryName']}">
                            <f:converter converterId="entityConverter" />
                            <f:selectItem itemLabel="#{msgs['Select_Option']}" />
                            <f:selectItems value="#{locationManagementController.countryList}" var="country"
                                           itemValue="#{country}" itemLabel="#{country}" />
                        </b:selectOneMenu>
                        <h:message for="country" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <hr/>
                <b:row>
                    <b:column>
                        <b:commandButton
                                styleClass="btn btn-primary"
                                largeScreen="half"
                                update="@form"
                                dismiss="modal"
                                value="#{msgs['Save']}"
                                action="#{locationManagementController.saveNewLocation()}"
                                oncomplete="if(!validationFailed) { $('#addLocationModal').modal('hide') } "/>
                        <b:button  value="Cancel"
                                  dismiss="modal" onclick="return false;"/>

                    </b:column>
                </b:row>

                <b:fetchBeanInfos />
            </h:form>
        </b:modal>
    </ui:define>
</ui:composition>

</html>