<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <div class="card card-container">
            <h:graphicImage id="logo-img" styleClass="logo-img" value="resources/img/plane.png" />
            <h:form class="form-signin">
                <h:panelGroup id="emailGroup">
                    <div class="form-group #{not component.findComponent('email').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="email">#{msgs['Login_Email']}</h:outputLabel>
                        <h:inputText id="email" value="#{userBean.user.emailAddress}" styleClass="form-control">
                            <f:ajax event="blur" render="emailGroup"/>
                        </h:inputText>
                        <h:message for="email" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="passwordGroup">
                    <div class="form-group #{not component.findComponent('password').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="password">#{msgs['Login_Password']}</h:outputLabel>
                        <h:inputSecret id="password" value="#{userBean.user.password}" styleClass="form-control" redisplay="true">
                            <f:ajax event="blur" render="passwordGroup"/>
                        </h:inputSecret>
                        <h:message for="password" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>
                <h:commandButton styleClass="btn btn-primary" value="#{msgs['Login']}" action="#{loginBean.login()}"/>
            </h:form>
            <br />
            <h:form>
                <h:commandLink styleClass="btn btn-info" value="#{msgs['Register']}" action="#{navigationBean.navigateToRegistrationPage(true)}"/>
            </h:form>
            <br />
            <ui:fragment rendered="#{loginBean.getFailedLoginAttempt()}">
                <div>
                    <div class="alert alert-danger">
                        #{msgs['Login_Failure']}
                    </div>
                </div>
            </ui:fragment>
        </div>
    </ui:define>
</ui:composition>

</html>
