<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/template.xhtml">
    <ui:define name="pageContent">
        <div class="card card-container">
            <h:graphicImage id="logo-img" styleClass="logo-img" value="resources/img/plane.png" />
            <h:form class="form-signin">
                <h:panelGroup id="firstNameGroup">
                    <div class="form-group #{not component.findComponent('firstName').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="firstName">#{msgs['First_Name']}</h:outputLabel>
                        <h:inputText id="firstName" value="#{registrationBean.user.firstName}" styleClass="form-control">
                            <f:ajax event="blur" render="firstNameGroup"/>
                        </h:inputText>
                        <h:message for="firstName" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="lastNameGroup">
                    <div class="form-group #{not component.findComponent('lastName').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="lastName">#{msgs['Last_Name']}</h:outputLabel>
                        <h:inputText id="lastName" value="#{registrationBean.user.lastName}" styleClass="form-control">
                            <f:ajax event="blur" render="lastNameGroup"/>
                        </h:inputText>
                        <h:message for="lastName" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="emailGroup">
                    <div class="form-group #{not component.findComponent('email').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="email">#{msgs['Login_Email']}</h:outputLabel>
                        <h:inputText id="email" value="#{registrationBean.user.emailAddress}" styleClass="form-control">
                            <f:ajax event="blur" render="emailGroup"/>
                        </h:inputText>
                        <h:message for="email" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:panelGroup id="passwordGroup">
                    <div class="form-group #{not component.findComponent('password').valid and facesContext.validationFailed ? 'has-error' : ''}">
                        <h:outputLabel for="password">#{msgs['Login_Password']}</h:outputLabel>
                        <h:inputSecret id="password" value="#{registrationBean.user.password}" styleClass="form-control" redisplay="true">
                            <f:ajax event="blur" render="passwordGroup"/>
                        </h:inputSecret>
                        <h:message for="password" errorClass="control-label has-error"/>
                    </div>
                </h:panelGroup>

                <h:commandButton styleClass="btn btn-info" value="#{msgs['Register']}" action="#{registrationBean.register()}"/>
            </h:form> <br />
            <ui:fragment rendered="#{registrationBean.getFailedRegistrationAttempt()}">
                <div>
                    <div class="alert alert-danger">
                        #{msgs['Register_Already_Exists']}
                    </div>
                </div>
            </ui:fragment>
            <ui:fragment rendered="#{registrationBean.getSuccessfulRegistration()}">
                <div>
                    <div class="alert alert-info">
                        #{msgs['Register_Successful']}
                    </div>
                </div>
            </ui:fragment>
        </div>
    </ui:define>
</ui:composition>

</html>
