<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">
<f:view locale="#{languageSwitcher.locale}">
    <h:head>
        <title> #{msgs['ApplicationName']} </title>
        <link rel="icon" type="image/x-icon" href="resources/img/plane.ico"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/customStyles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <b:navBar brand="#{msgs['ApplicationName']}" brandHref="index.xhtml" fluid="true" inverse="true" brandStyleClass="navbarBrand" styleClass="navBar">
                <b:navbarLinks>
                    <b:navLink value="#{msgs['ManageFlights']}" href="flightOverview.xhtml" rendered="#{userBean.isPartner()}"/>
                    <b:navLink value="#{msgs['ManageFlights']}" href="fullFlightOverview.xhtml" rendered="#{userBean.isEmployee()}"/>
                    <b:navLink value="#{msgs['Locations']}" href="locationOverview.xhtml" rendered="#{userBean.isEmployee()}"/>
                    <b:navLink value="#{msgs['Statistics']}" href="statisticsPartner.xhtml" rendered="#{userBean.isPartner()}"/>
                    <b:navLink value="#{msgs['Statistics']}" href="statisticsEmployee.xhtml" rendered="#{userBean.isEmployee()}"/>
                </b:navbarLinks>
                <b:navbarLinks pull="right">
                    <b:navCommandLink value="#{msgs['Login']}" action="#{navigationBean.navigateToLogin(true)}" rendered="#{!userBean.isLoggedIn()}" iconAlign="left" iconAwesome="fa-sign-in"/>
                    <b:navCommandLink value="#{msgs['Logout']}" action="#{loginBean.logout()}" rendered="#{userBean.isLoggedIn()}" iconAlign="left" iconAwesome="fa-sign-out"/>
                    <b:dropMenu value="#{msgs['Languages']}">
                            <h:commandLink value="#{msgs['English']}" styleClass="btn">
                                <f:ajax listener="#{languageSwitcher.changeLanguage('en')}" event="click" render="@all"/>
                            </h:commandLink>
                            <h:commandLink value="#{msgs['Dutch']}" styleClass="btn">
                                <f:ajax listener="#{languageSwitcher.changeLanguage('nl')}" event="click" render="@all"/>
                            </h:commandLink>
                    </b:dropMenu>
                </b:navbarLinks>
            </b:navBar>
        </h:form>


            <div class="container" id="container">
                <ui:insert name="pageContent">
                    <h1>Page content</h1>
                    <p>This content should be replaced by the client page.</p>
                </ui:insert>
            </div>


    </h:body>
</f:view>
</html>
